body{

font-family:Arial;

background:linear-gradient(135deg,#0f2a60,#4c6ef5);

color:white;

text-align:center;

}

input{

display:block;

margin:10px auto;

padding:10px;

border-radius:10px;

border:none;

}

button{

padding:10px 20px;

margin:5px;

border:none;

border-radius:10px;

background:#4CAF50;

color:white;

}

.card{

background:rgba(255,255,255,0.1);

backdrop-filter:blur(10px);

margin:10px;

padding:15px;

border-radius:15px;

}
